html {
	box-sizing: border-box;
}
/* ==========================================================================
Colors
========================================================================== */
	html {
		/*Pinks*/
		--color-primary-1: #F7EBE8;
		--color-primary-2: #CBC1BE;
		--color-primary-3: #9E9694;

		/*Greens*/
		--color-secondary-1: #85B19F;
		--color-secondary-2: #21704F;
		--color-secondary-3: #19523A;
		
		/*Greys*/
		--color-tertiary-1: #D1D6D4;
		--color-tertiary-2: #8C9893;
		--color-tertiary-3: #031E13;
		
		--ratio:			1.333;
		--size-xsmall: 		calc( var(--size-small) / (var(--ratio) ) );
		--size-small: 		calc( var(--size-medium) / (var(--ratio) ) );
		--size-medium: 		calc( 1rem * var(--ratio) );
		--size-large: 		calc( var(--size-medium) * var(--ratio) );
		--size-xlarge: 		calc( var(--size-large) * var(--ratio) );
		--size-2xlarge: 	calc( var(--size-xlarge) * var(--ratio) );
	}
/* ==========================================================================
Typography
========================================================================== */
	html {
		--font-primary: 'Fira Sans', 'Roboto', 'Veranda', sans-serif;
		--font-secondary: 'Montserrat', 'Roboto', 'Veranda', sans-serif;
		
		color: var(--color-tertiary-3);
		font-family: var(--font-primary);
		line-height: 1.4;
	}
	@media (min-width: 620px) {
	
		html {
			line-height: 1.5;
			--ratio: 1.4;
		}	
	}
	@media (min-width: 1500px) {
	
		html {
			line-height: 1.6;
			--ratio: 1.45;
		}
	}
	@media (min-width: 1700px) {
	
		html {
			--ratio: 1.5;
		}	
	}
	/* ==========================================================================
	Links
	========================================================================== */
		a {
			color: var(--color-secondary-3);
			text-decoration: none;
		}
		a:visited {
			color: var(--color-secondary-3);
		}
		a:hover {
			color: var(--color-tertiary-1);
		}
		a:active {
			color: var(--color-tertiary-2);
		}
		a:focus {
			color: var(--color-tertiary-1);
	}
	/* ==========================================================================
	Headings
	========================================================================== */
		h1,h2,h3,h4,h5,h6 {
			font-family: var(--font-secondary);
			margin: 1rem 0 .75rem;
		}
		h1 {
			font-size: var(--size-2xlarge);
			line-height: 1.25;
			margin: 0;
		}
		h2 {
			font-size: var(--size-xlarge);
			line-height: 1.25;
		}
		h3 {
			font-size: var(--size-large);
		}
		h4 {
			font-size: var(--size-medium);
		}
		h5 {
			font-size: var(--size-medium);
		}
		h6 {
			font-size: var(--size-medium);
		}
	/* ==========================================================================
	Heading Links
	========================================================================== */
		h1 a {
			color: var(--color-secondary-2);
		}
		h1 a:visited {
			color: var(--color-secondary-2);
		}
		h1 a:hover {
			color: var(--color-primary-2);
		}
		h1 a:active {
			color: var(--color-secondary-1);
		}
		h1 a, h2 a {
			color: var(--color-secondary-2);
		}
		h1 a, h2 a:visited {
			color: var(--color-secondary-2);
		}
		h1 a, h2 a:hover {
			color: var(--color-primary-2);
		}
		h1 a, h2 a:active {
			color: var(--color-secondary-1);
		}
	/* ==========================================================================
	Specialty Text
	========================================================================== */
	.featured-text {
		font-size: var(--size-large);
	}
	.tertiary-copy {
		font-size: var(--size-xsmall);
	}
/* ==========================================================================
Nav
========================================================================== */
	/*
	Primary Nav
	*/
		nav {
			align-items: center;
			background-color: var(--color-primary-1);
			display: flex;
			justify-content: space-between;
		}
		nav ul {
			display: inline-block;
			margin: 1rem .5rem 0 0; 
		}
		nav li {
			display: inline;
			padding: 0 .25rem;
		}
		nav a {
			color: var(--color-secondary-2);
			margin-right: .5rem;
			padding: .5rem 1rem;
			text-decoration: none;
		}
		.current-page {
			border-bottom: .3rem solid var(--color-primary-3);
			padding: .1rem .4rem;	
		}
		a.logo  {
			color: var(--color-primary-3);
			display: inline-block;
			font-size: var(--size-2xlarge);
			margin: 1rem 1rem .5rem;
			padding: .5rem 1rem;
		}
	/*
	Secondary Nav
	*/
		.secondary-nav {
			font-size: var(--size-small);
		}
		.secondary-nav a {
			padding: 0;
		}
		.secondary-nav a.current-page {
			color: var(--color-primary-3);
			border-bottom: none;
		}
		.secondary-nav ul {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
		.secondary-nav li {
			margin: .25rem 0;
		}
/* ==========================================================================
Body Component
========================================================================== */
	body {
		margin: 0;
	}
	main {
		max-width: 100vw;
	}
/* ==========================================================================
Footer Component
========================================================================== */
	footer {
		background-color: var(--color-primary-1);
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		padding: 1rem 0 0;
		position: relative;
		bottom: 0; 	
	}
	footer div:first-child {
		grid-column: 1 / span 1;
	}
	footer div:nth-child(2) {
		grid-column: 8 / span 4;
	}
	footer div:nth-child(3) {
		background-color: var(--color-secondary-1);
		width: 100%;
		text-align: center;
		grid-column: 1 / span 12;
	}
	.social-links {
		display: grid;
		grid-template-rows: repeat(5, 5vh);
		grid-gap: 1rem;
	}
	.social-links h2 {
		grid-row: 1 / span 1;
	}
	.social-links a {
		grid-row: 3 / span 1;
	}
	.social-links ul {
		margin: 0; 
		grid-row: 4 / span 1;	
		padding: 0;
	}
	.social-links li {
		display: inline;
	}
	.footer-heading {
		font-size: var(--size-medium);
	}
	footer a svg {
		width: 1.5rem;
		height: 1.5rem;
		padding-right: 1rem;
		margin: 0;
	}
	.footer-email-link {
		display: flex;
		align-items: center;		
	}
	.email-link {
		text-decoration: underline; 
		padding: 0;
		margin: 0;
	}
/* ==========================================================================
Components
========================================================================== */
	/*
	Button Links
	*/
		a.button-link , a.button-link :visited {
			background-color: var(--color-primary-1);
			border-radius: 5px;
			color: var(--color-secondary-1);
			display: inline-block;
			font: 2vw var(--font-secondary);
			margin: 2rem 0;
			padding: 1.2rem 1rem;
			text-transform: uppercase;
		}
		a.button-link :hover {
			background-color: var(--color-primary-2);
			color: var(--color-secondary-3);
		}
		a.button-link :active {
			background: linear-gradient(to left, var(--color-primary-1), var(--color-primary-2) 60%);
			transition: all .4s ease-out;
		}
		a.button-link :focus {
			background-color: var(--color-primary-1);
			color: var(--color-secondary-3);
			transition: background-color .4s ease-in;
		}
		@media (min-width: 620px) {
			a.button-link  {
				font-size: 3vw;
			}
		}
		@media (min-width: 920px) {
			a.button-link  {
				font-size: 2.5vw;
			}
		}
		@media (min-width: 1200px) {
			a.button-link  {
				font-size: 2vw;
			}
		}
		@media (min-width: 1700px) {
			a.button-link  {
				font-size: 2rem;
			}
		}
/* ==========================================================================
Layouts
========================================================================== */
	/* ==========================================================================
	Pages
	========================================================================== */
		.home-page {
			background-image: url("images/pattern.jpg");
			display: grid;
			grid-gap: 1vw;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr minmax(65vh 85vh);
		}
		.about-page {
			background-image: url("images/pattern.jpg");
			display: grid;
			grid-gap: 1vw;
			grid-template-columns: repeat(12, 1fr);
		}
		/*
		Hero Section
		*/
			.hero {
				display: grid;
				grid-column: 1 / span 12;
				grid-gap: 1rem;
				grid-row: 1 / span 1;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: repeat(1, 1fr);
				overflow: hidden;
				position: relative;
			}
			.hero-box {
				background-color: var(--color-secondary-1);
				bottom: 0;
				grid-column: 1 / span 12;
				grid-row: 1 / span 1;
				height: 100%;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transform-origin: top left;
				transform: skew(-32deg);
				width: 100%;
				z-index: 10;
			}
			.hero-text {
				align-items: center;
				display: grid;
				grid-column: 1 / span 12;
				grid-row: 1 / span 1;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: 50% 25% 25%;
				height: 65vh;
				justify-items: start;
				margin: 0 2rem 1rem;
				max-width: 65%;
				overflow: hidden;
				position: relative;
				z-index: 20;
			}
			.hero-text h1 {
				grid-column: 1 / span 12;
				grid-row: 1 / span 1;
			}
			.hero-text p {
				grid-column: 1 / span 12;
				grid-row: 2 / span 1;
				margin: 1rem 0 2rem;
			}
			.hero-text .button-link {
				grid-column: 1 / span 5;
				grid-row: 3 / span 1;
			}
		/*
		Resume Promo Section
		*/
			.resume-section {
				display: grid;
				grid-column: 1 / span 12;
				grid-gap: 1rem;
				grid-row: 2 / span 2;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: 1fr 1fr 1fr minmax(65vh 85vh);
				justify-items: end;
				overflow: hidden;
				position: relative;
			}
			.resume-box {
				background-color: var(--color-secondary-2);
				bottom: 0;
				grid-column: 11 / span 15;
				grid-row: 1 / span 3;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transform-origin: top right;
				transform: skew(-30deg, 70deg) translate(0rem, -40rem);
				width: 120vh;
				height: 170vw;
				z-index: 10;
			}/*absolutely position within resume-section?*/
			.resume-promo-text {
				align-items: center;
				display: grid;
				grid-column: 6 / span 6;
				grid-row: 1 / span 1;
				grid-template-rows: 50% 25% 25%;
				height: 45vh;
				margin: 2rem;
				max-width: 65%;
				overflow: hidden;
				position: relative;
				text-align: right;
				z-index: 20;
			}
			.resume-promo-text h1 {
				
				grid-row: 1 / span 1;
			}
			.resume-promo-text p {
				
				grid-row: 2 / span 1;
				margin: 1rem 0;
			}
			.resume-promo-text .button-link {
				
				grid-row: 3 / span 1;
			}
		/*
		Portfolio Promo Section
		*/
			.portfolio-section {
				display: grid;
				grid-column: 1 / span 12;
				grid-gap: 1rem;
				grid-row: 4 / span 2;
				grid-template-columns: repeat(12, 1fr);
				overflow: hidden;
				position: relative;
			}
			.portfolio-box {
				background-color: var(--color-secondary-1);
				bottom: 0;
				grid-column: 1 / span 12;
				grid-row: 1 / span 1;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transform-origin: top left;
				transform: skew(20deg) translate(-25rem);
				z-index: 10;
			}
			.portfolio-promo-text {
				align-items: center;
				display: grid;
				grid-column: 1 / span 4; 
				grid-row: 1 / span 1;
				grid-template-rows: 50% 25% 25%;
				margin: 2rem;
				max-width: 65%;
				position: relative;
				z-index: 20;
			}
			.portfolio-promo-text h1 {
				grid-row: 1 / span 1;
			}
			.portfolio-promo-text p {
				grid-row: 2 / span 1;
				margin: 1rem 0;
			}
			.portfolio-promo-text .button-link {
				grid-row: 3 / span 1;
			}
		/*
		Resume Page
		*/
			.resume-card {
				display: grid;

			} 
			.resume-card svg {
				fill: var(--color-secondary-1);
				max-width: 100%;
			}

			/*.resume-sections {
				overflow: hidden;
				position: relative;
			}
			.resume-card-background {
				background-color: var(--color-secondary-1);
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transform-origin: top left;
				transform: skew(-32deg);
				z-index: 10;
			}
			.resume-card {

				display: block;
				height: 30vh;
				margin: 2rem;
				max-width: 65%;
				overflow: hidden;
				position: relative;
				z-index: 20;
			}*/

			/*.resume-page {
				max-width: 70rem;
				margin: auto;
				display: grid;
				grid-template-columns: repeat(12 / 1fr); 
				grid-column-gap: 2rem;
			}
			.resume-page h1 {
				grid-column: 1 / span 12;
				grid-row: 1 / span 1;
			}
			.resume-page h2 {
				grid-column: 5 /span 8;
				grid-row: 2 / span 1;
			}
			.work-experience {
				grid-column: 5 /span 8;
				grid-row: 3 / span 1;
			}
			.skills {
				grid-column: 5 /span 8;
				grid-row: 4 / span 1;
			}
			.education {
				grid-column: 5 /span 8;
				grid-row: 5 / span 1;
			}
			.job-dates {
				grid-column: 1 / span 4;
				grid-row: 3 / span 1;
			}
			.role {
				font-family: var(--font-secondary);
				margin: 1rem 0 .75rem;
				font-size: var(--size-large);
			}
			.education-dates {
				grid-column: 1 / span 4;
				grid-row: 5 / span 1;
			}*/

	/* ==========================================================================
	Form Component
	========================================================================== */
	/*form {
		margin: auto;
		max-width: 30rem;
	}
	label {

	}*/
	input, textarea {
		border: none;
		padding: 1rem;
		min-width: 20rem;
		margin-bottom: 1rem; 
	}
	textarea {
		min-height: 10rem;
	}
	button {
		background-color: var(--color-primary-1);
		border-radius: 5px;
		color: var(--color-secondary-1);
		display: inline-block;
		font: 2vw var(--font-secondary);
		margin: 0 0 2rem 0;
		padding: 1.2rem 1rem;
		text-transform: uppercase;
	}


